In [ ]:
#! pip install openpyxl

In [ ]:
# Imports
import pandas as pd
from pathlib import Path
print("vamos validar!!!")
print("testao!!!!")

In [3]:
# Definir caminho do arquivo Excel
excel_path = Path("Bases.xlsx")

# Verificação de existência
if not excel_path.exists():
    raise FileNotFoundError(f"Arquivo não encontrado: {excel_path.resolve()}")

print(f"excel_file_found={excel_path.resolve()}")

excel_file_found=C:\Users\Gabriel\Documents\1 - ESTUDO\2 - Python Harve\Mod_5 - Projeto Final\Bases.xlsx

In [7]:
# Listar as abas disponíveis no arquivo
with pd.ExcelFile(excel_path) as xls:
    sheet_names = xls.sheet_names

print("Abas encontradas:", sheet_names)
sheet_names

Abas encontradas: ['Doloso', 'Latrocínio', 'Corporal', 'Feminicidio']

['Doloso', 'Latrocínio', 'Corporal', 'Feminicidio']

In [8]:
# Ler todas as abas em um dicionário {nome_aba: DataFrame}
dfs = pd.read_excel(excel_path, sheet_name=None)

# Mostrar chaves confirmando leitura
list(dfs.keys())

['Doloso', 'Latrocínio', 'Corporal', 'Feminicidio']

In [9]:
# Função utilitária para normalizar nomes de abas em identificadores válidos de variável
import re

def normalize_var_name(name: str) -> str:
    # Remove acentos e caracteres especiais básicos
    replacements = {
        "ã":"a","á":"a","à":"a","â":"a","ä":"a",
        "é":"e","è":"e","ê":"e","ë":"e",
        "í":"i","ì":"i","î":"i","ï":"i",
        "ó":"o","ò":"o","ô":"o","ö":"o",
        "ú":"u","ù":"u","û":"u","ü":"u",
        "ç":"c","ñ":"n","Ã":"A","Á":"A","À":"A","Â":"A","Ä":"A",
        "É":"E","È":"E","Ê":"E","Ë":"E",
        "Í":"I","Ì":"I","Î":"I","Ï":"I",
        "Ó":"O","Ò":"O","Ô":"O","Ö":"O",
        "Ú":"U","Ù":"U","Û":"U","Ü":"U",
        "Ç":"C","Ñ":"N"
    }
    for k, v in replacements.items():
        name = name.replace(k, v)
    name = re.sub(r"[^0-9a-zA-Z_]+", "_", name)  # troca não-alfanum por _
    name = re.sub(r"_{2,}", "_", name).strip("_") # remove underscores duplicados
    if re.match(r"^[0-9]", name):
        name = "_" + name
    return name

# Criar variáveis individuais df_<Aba>
globals_map = {}
for sheet, df in dfs.items():
    var_name = f"df_{normalize_var_name(sheet)}"
    globals()[var_name] = df
    globals_map[sheet] = var_name

globals_map  # mapeamento: Nome da Aba -> Nome da variável criada

{'Doloso': 'df_Doloso',
 'Latrocínio': 'df_Latrocinio',
 'Corporal': 'df_Corporal',
 'Feminicidio': 'df_Feminicidio'}

In [10]:
# Exibir as 5 primeiras linhas de cada DataFrame
for sheet, var_name in globals_map.items():
    print(f"\n=== {sheet} -> {var_name} ===")
    display(globals()[var_name].head())

=== Doloso -> df_Doloso ===

,Bairro,Jan,Fev,Mar,Abr,Mai,Jun,Jul,Ago,Set,Out,Nov,Dez,Total
0,ABRANCHES,0,0,0,0,0,0,0,0,0,1,0,0,1
1,AGUA VERDE,0,0,0,0,0,0,0,0,0,0,2,0,2
2,AHU,0,0,0,0,0,0,0,0,0,0,0,0,0
3,ALTO BOQUEIRAO,0,0,0,0,0,0,0,0,1,0,0,0,1
4,ALTO DA GLORIA,0,0,0,0,0,1,0,0,0,0,0,0,1

=== Latrocínio -> df_Latrocinio ===

,Bairro,Jan,Fev,Mar,Abr,Mai,Jun,Jul,Ago,Set,Out,Nov,Dez,Total
0,ABRANCHES,0,0,0,0,0,0,0,0,0,0,0,0,0
1,AGUA VERDE,0,0,0,0,0,0,0,0,0,0,0,0,0
2,AHU,0,0,0,0,0,0,0,0,0,0,0,0,0
3,ALTO BOQUEIRAO,0,0,0,0,0,0,0,0,0,0,0,0,0
4,ALTO DA GLORIA,0,0,0,0,0,0,0,0,0,0,0,0,0

=== Corporal -> df_Corporal ===

,Bairro,Jan,Fev,Mar,Abr,Mai,Jun,Jul,Ago,Set,Out,Nov,Dez,Total
0,ABRANCHES,0,0,0,0,0,0,0,0,0,0,0,0,0
1,AGUA VERDE,0,0,0,0,0,0,0,0,0,0,0,0,0
2,AHU,0,0,0,0,0,0,0,0,0,0,0,0,0
3,ALTO BOQUEIRAO,0,0,0,1,0,0,0,0,0,0,0,0,1
4,ALTO DA GLORIA,0,0,0,0,0,0,0,0,0,0,0,0,0

=== Feminicidio -> df_Feminicidio ===

,Bairro,Jan,Fev,Mar,Abr,Mai,Jun,Jul,Ago,Set,Out,Nov,Dez,Total
0,ABRANCHES,0,0,0,0,0,0,0,0,0,0,0,0,0
1,AGUA VERDE,0,0,0,0,0,0,0,0,0,0,0,0,0
2,AHU,0,0,0,0,0,0,0,0,0,0,0,0,0
3,ALTO BOQUEIRAO,0,0,0,0,0,0,0,0,0,0,0,0,0
4,ALTO DA GLORIA,0,0,0,0,0,0,0,0,0,0,0,0,0

In [11]:
# Tipos de dados e colunas por aba
for sheet, var_name in globals_map.items():
    df = globals()[var_name]
    print(f"\n--- {sheet} ({var_name}) ---")
    print("Colunas:", list(df.columns))
    print(df.dtypes)

--- Doloso (df_Doloso) ---
Colunas: ['Bairro', 'Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez', 'Total']
Bairro    object
Jan        int64
Fev        int64
Mar        int64
Abr        int64
Mai        int64
Jun        int64
Jul        int64
Ago        int64
Set        int64
Out        int64
Nov        int64
Dez        int64
Total      int64
dtype: object

--- Latrocínio (df_Latrocinio) ---
Colunas: ['Bairro', 'Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez', 'Total']
Bairro    object
Jan        int64
Fev        int64
Mar        int64
Abr        int64
Mai        int64
Jun        int64
Jul        int64
Ago        int64
Set        int64
Out        int64
Nov        int64
Dez        int64
Total      int64
dtype: object

--- Corporal (df_Corporal) ---
Colunas: ['Bairro', 'Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez', 'Total']
Bairro    object
Jan        int64
Fev        int64
Mar        int64
Abr        int64
Mai        int64
Jun        int64
Jul        int64
Ago        int64
Set        int64
Out        int64
Nov        int64
Dez        int64
Total      int64
dtype: object

--- Feminicidio (df_Feminicidio) ---
Colunas: ['Bairro', 'Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez', 'Total']
Bairro    object
Jan        int64
Fev        int64
Mar        int64
Abr        int64
Mai        int64
Jun        int64
Jul        int64
Ago        int64
Set        int64
Out        int64
Nov        int64
Dez        int64
Total      int64
dtype: object

In [12]:
# Padronizar nomes de colunas: remover espaços, acentos e deixar snake_case
import re
def clean_columns(df: pd.DataFrame) -> pd.DataFrame:
    def norm(col: str) -> str:
        col = str(col)
        repl = {
            "ã":"a","á":"a","à":"a","â":"a","ä":"a",
            "é":"e","è":"e","ê":"e","ë":"e",
            "í":"i","ì":"i","î":"i","ï":"i",
            "ó":"o","ò":"o","ô":"o","ö":"o",
            "ú":"u","ù":"u","û":"u","ü":"u",
            "ç":"c"
        }
        for k, v in repl.items(): col = col.replace(k, v)
        col = col.strip().lower()
        col = re.sub(r"[^0-9a-z_ ]", "_", col)
        col = re.sub(r"\\s+", "_", col)
        col = re.sub(r"_+", "_", col).strip("_")
        return col

    df = df.copy()
    df.columns = [norm(c) for c in df.columns]
    return df

# Aplicar limpeza (opcional). Se não quiser, pule esta célula.
for sheet, var_name in globals_map.items():
    df = globals()[var_name]
    globals()[var_name] = clean_columns(df)

# Conferir após limpeza
for sheet, var_name in globals_map.items():
    print(f"{sheet} -> {list(globals()[var_name].columns)}")

Doloso -> ['bairro', 'jan', 'fev', 'mar', 'abr', 'mai', 'jun', 'jul', 'ago', 'set', 'out', 'nov', 'dez', 'total']
Latrocínio -> ['bairro', 'jan', 'fev', 'mar', 'abr', 'mai', 'jun', 'jul', 'ago', 'set', 'out', 'nov', 'dez', 'total']
Corporal -> ['bairro', 'jan', 'fev', 'mar', 'abr', 'mai', 'jun', 'jul', 'ago', 'set', 'out', 'nov', 'dez', 'total']
Feminicidio -> ['bairro', 'jan', 'fev', 'mar', 'abr', 'mai', 'jun', 'jul', 'ago', 'set', 'out', 'nov', 'dez', 'total']

In [13]:
# Exemplo: conferir total por aba (assumindo coluna 'total' após limpeza)
resumo_totais = {}
for sheet, var_name in globals_map.items():
    df = globals()[var_name]
    col_total = [c for c in df.columns if c.lower() == "total"]
    if col_total:
        resumo_totais[sheet] = df[col_total[0]].sum(numeric_only=True)
    else:
        resumo_totais[sheet] = None

resumo_totais

{'Doloso': np.int64(356),
 'Latrocínio': np.int64(6),
 'Corporal': np.int64(18),
 'Feminicidio': np.int64(22)}

In [14]:
# Exportar cada DataFrame para CSV no diretório atual
output_dir = Path("./csv_export")
output_dir.mkdir(exist_ok=True)

for sheet, var_name in globals_map.items():
    safe_name = normalize_var_name(sheet)
    out_path = output_dir / f"{safe_name}.csv"
    globals()[var_name].to_csv(out_path, index=False, encoding="utf-8")
    print(f"CSV salvo: {out_path}")

CSV salvo: csv_export\Doloso.csv
CSV salvo: csv_export\Latrocinio.csv
CSV salvo: csv_export\Corporal.csv
CSV salvo: csv_export\Feminicidio.csv